/* InviteTeam Page Styles */
.invite-team-container {
  max-width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  font-family: 'Inter', sans-serif;
}

.invite-header-container {
  display: flex;
  align-items: center; /* Vertically center the back button and the heading */
  margin-top: 10px; /* Added top margin to space out from the top of the page */
  width: 100%;
  justify-content: start; /* Align the content to the left */
}

.invite-team-container h2 {
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  letter-spacing: 0px;
  margin-left: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 25px;
  flex-grow: 1; /* Allows the title to take remaining space */
}

/* Form Inputs */
.invite-team-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.invite-team-input-container input {
  width: 100%;
  padding: 16px;
  margin-bottom: 24px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  color: #333;
  font-size: 1.1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.invite-team-input-container input:focus {
  outline: none;
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
}

.invite-team-input-container button {
  width: 100%;
  padding: 16px;
  background-color: #3498db;
  border: none;
  color: white;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.invite-team-input-container button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.invite-team-input-container button:hover {
  background-color: #2980b9;
}

/* Table Styles */
.invite-team-table-container {
  width: 100%;
  margin-top: 40px;
  overflow-x: hidden; /* Hide horizontal overflow */
}

.invite-team-table-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  table-layout: fixed; /* Ensures even column width distribution */
}

.invite-team-table-container th,
.invite-team-table-container td {
  padding: 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 1.1rem;
  color: #333;
  word-wrap: break-word; /* Prevents text from overflowing */
}

.invite-team-table-container th {
  background-color: #333;
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center; /* Center the text */
}

.invite-team-table-container td {
  background-color: #fafafa;
  text-align: center;
}

.invite-team-table-container button {
  background-color: #00B69B;
  color: white;
  padding: 10px 16px; /* Adjust padding for better appearance */
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem; /* Keep the font size consistent */
  border: none;
  margin-right: 12px; /* Space between buttons */
  transition: background-color 0.3s ease-in-out;
  display: inline-block;
  width: 70px; /* Set a uniform width for all buttons */
  text-align: center;
  min-width: 70px; /* Ensure buttons don't shrink below this width */
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

.invite-team-table-container tbody {
  border-left: 1px solid #eee8e8; /* Thin left border */
  border-right: 1px solid #eee8e8; /* Thin right border */
}

.invite-team-table-container button:last-child {
  margin-right: 0; /* Remove margin on the last button */
}

.invite-team-table-container button:hover {
  background-color: #218838;
}

.invite-team-table-container button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Back Button Styles */
.invite-team-back-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px; /* Smaller width */
  height: 35px; /* Smaller height to maintain a square */
  border: 1px solid #ddd; /* Adds a border */
  border-radius: 8px; /* Slightly rounded corners */
  cursor: pointer;
  background-color: #fff; /* Background color */
  transition: all 0.2s ease-in-out;
  margin-top: 3px;
  margin-left: 10px; /* Adds left margin for spacing between button and the title */
}


/* Mobile Responsiveness */
@media (max-width: 600px) {
  .invite-team-container {
    padding: 20px;
    width: 90%;
  }

  .invite-team-input-container input {
    font-size: 1rem;
  }

  .invite-team-input-container button {
    font-size: 1rem;
  }

  .invite-team-table-container th,
  .invite-team-table-container td {
    font-size: 12px;
    padding: 12px; /* Adjust padding for smaller screens */
  }

  .invite-team-table-container button {
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
}

/* Invite Form Styles */
.invite-team-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.invite-team-form-container input {
  width: 81%;
  max-width: 400px;
  padding: 14px;
  margin-bottom: 18px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  color: #333;
  font-size: 1rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-family: 'Inter', sans-serif;
}

.invite-team-form-container input:focus {
  outline: none;
  border-color: #333;
  box-shadow: 0 0 6px rgba(52, 152, 219, 0.3);
}

.invite-team-form-container button {
  width: 88%;
  max-width: 400px;
  padding: 14px;
  background-color: #333;
  border: none;
  color: white;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}

.invite-team-form-container button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.invite-team-form-container button:hover {
  background-color: #333;
}
